---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import ExternalLink from '@components/ExternalLink.astro'
import { Accordion, AccordionItem, Avatar, AvatarGroup } from 'accessible-astro-components'

const currentYear = new Date().getFullYear()
---

<DefaultLayout title="Home">
  <Hero />
  <section class="mt-15 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Zahlen, Daten & Fakten</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
        <Counter count={currentYear-1911} title="Jahre" sub="seit Vereinsgründung" />
        <Counter count="127" title="Gärten" sub="auf ungefähr 6,5 Hektar" />
        <Counter count="130+" title="Mitglieder" sub="verschiedenster Nationen" />
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/src/assets/images/design/dave-lastovskiy-RygIdTavhkQ-unsplash.jpg">
    <h2>Lorem Ipsum.</h2>
    <p class="text-2xl">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/src/assets/images/design/erda-estremera-0ZxdAGG4aWU-unsplash.jpg" reverseImg={true}>
    <h2>Lorem Ipsum.</h2>
    <p class="text-2xl">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </ContentMedia>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
