---
import DefaultLayout from '@layouts/DefaultLayout.astro'

import { Accordion, AccordionItem, Card, Media, Modal, Notification } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import SponsorBlock from '@components/SponsorBlock.astro'
import Calendar from '@components/CalendarForIndex.tsx'

import { Image } from 'astro:assets'
import img_roses from '@graphics/design/roses.png'
import img_garden from '@graphics/design/patrick-federi-vOaUMTTr8YQ-unsplash.jpg'

import { getCollection } from "astro:content";
const blog = (await getCollection("blog")).sort((x, y) => y.data.datum.valueOf() - x.data.datum.valueOf());
const post = (await getCollection("blog")).sort((x, y) => y.data.datum.valueOf() - x.data.datum.valueOf())[0];

const currentYear = new Date().getFullYear()
---

<DefaultLayout title="Home">
  <section class="hero my-24">
    <div class="container">
      <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
        <div class="flex flex-col items-center gap-8 md:items-start">
          <h1 class="text-center text-6xl md:text-left lg:text-8xl">
            <slot>
              <span class="text-gradient">Herzlich willkommen</span>
              <span class="cursive text-2xl">im Kleingärtnerverein Krügersruh e. V.</span>
            </slot>
          </h1>
        </div>
        <Media src={img_roses.src}/>
        
      </div>
    </div>
  </section>
  <section class="mt-15 mb-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
        <Counter count={currentYear-1911} title="Jahre" sub="seit Vereinsgründung" />
        <Counter count="119" title="Gärten" sub="auf ungefähr 8 Hektar" />
        <Counter count="150+" title="Mitglieder" sub="verschiedenster Nationen" />
      </div>
    </div>
  </section>

  <section class="my-15">
    <div class="container">
      <div class="grid items-center grid-cols-1 gap-24 md:grid-cols-2">
        <div style="position: relative; width: 100%; height: 0; padding-top: 141.4286%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); overflow: hidden; border-radius: 8px; will-change: transform;">
          <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;" src="https://www.canva.com/design/DAG0Ax3vUXI/FNvJHXpoBP0YDmBSz726fw/view?embed"></iframe>
        </div>
        <div>
          <h2>Termine</h2>
          <div class="container">
            <Calendar client:load/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-15">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <div>
          <h2>Fachberatung</h2>
          <p class="text-2xl">
            Hier findest du den neusten Beitrag unserer Fachberatung.
          </p>
        </div>
        
        <Card
        imageComponent={post.data.cover}
        url={'/blog/' + new Date(post.data.datum).toISOString().split('T')[0].replaceAll('-','') + '_' + post.data.title.split(' ').slice(0, 4).join(' ').replaceAll(' ', '-').toLowerCase()}
        title={post.data.title}>
          <div>
            {new Date(post.data.datum).toLocaleDateString("de-DE", {year: "numeric", month: "long", day: "2-digit"})}<br/>
            {post.data.excerpt}
          </div>
        
      </Card>
      </div>
    </div>
  </section>

  <SponsorBlock/>
</DefaultLayout>

<style>
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>