---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import { Icon } from 'astro-icon/components'
import {
  Accordion,
  AccordionItem,
  Avatar,
  AvatarGroup,
  Badge,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  DarkMode,
  Media,
  Modal,
  Notification,
  Pagination,
  Tabs,
  TabsList,
  TabsTab,
  TabsPanel,
  Video,
} from 'accessible-astro-components'
import Calendar from '../components/Calendar.tsx'
---

<DefaultLayout title="Kalender">
  <PageHeader
    title="Kalender"
    bgType="none"
  />
  <section class="mt-5 mb-12">
    <div class="container">
      <Calendar client:load />
    </div>
  </section>
</DefaultLayout>
