---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Verein">
  <PageHeader
    title="100-jährige Chronik des Kleingärtnervereins"
  />
  <section class="mt-5 mb-12">
      <div class="container">
        <div class="cursive text-2xl">
          <p>Schon drei Jahre nach der Gründung begann der erste Weltkrieg. Es fing also alles im Jahre 1911 an. Die 20er Jahre brachten Inflation, Arbeitslosigkeit und Wirtschaftskrisen. Danach kamen das sogenannte "Dritte Reich" und der zweite Weltkrieg. Nach dessen Ende im Jahr 1945 folgten Jahre der Entbehrungen und des Wiederaufbaues. Im Rückblick gesehen alles in allem keine leichte Zeit für die Entwicklung eines Vereins. Trotzdem ging es langsam und stetig voran, dank der Beharrlichkeit und Einsatzfreudigkeit.</p><br/>
        
          <p>Doch zurück zu den Anfängen!</p><br/>

          <h3 class="cursive">Anfänge</h3>

          <p>Ein paar Hainhölzer Bürger, Bahn-, Postbedienstete, Handwerker sowie Beamte - es war die Generation unserer Eltern und Großeltern - hatten eines Tages die Idee und den Wunsch in Wohnungsnähe ein eigenes Stückchen Land zu besitzen, um ihre damals noch sehr knapp bemessene Freizeit sinnvoll zu nutzen. Sie ergriffen kurzerhand die Initiative und verhandelten mit Hainhölzer Bauern, von denen es zu der Zeit noch einige gab.</p><br/>

          <p>Nach der Erinnerung der Chronisten waren dies die Landwirtsfamilien Bertram, Sundmacher, Schmedes, Schmidt und Ratje. Handelseinig wurde man mit den Bauern Sundmacher und Bertram, die den künftigen Kleingärtnern im Frühjahr 1911 ein Stück Land auf Kauf- bzw. Pachtbasis überließen.
          </p><br/>

          <p>Auf diesem Gelände entstanden die ersten Gärten, aufgeteilt in drei Wege mit etwa je 30 Parzellen. Es waren der Rosenweg, der Maiblumenweg und der Asternweg.
          Diese Vertragsabschlüsse müssen wohl als die "Geburtsstunde" unseres Vereins angesehen werden. Urkunden, Dokumente oder Eintragungen aus jener Zeit sind nicht mehr ausfindig zu machen. Zu den Vereinsmitgliedern der ersten Stunde gehörten u. a. die Gartenfreunde Neumann, Beckmann, Burckhardt, Zierenberg und Beuermann. Herr Neumann war der erste Vorsitzende des neu gegründeten Vereins. Ihm folgte Heinrich Beckmann im Amt, der durch seine ruhige, freundliche, aber doch zielbewusste Art überall beliebt war.</p><br/>
          
          <p>Heinrich Beckmann lenkte in den 20er und 30er Jahren die Geschicke des Vereines. Später haben ihn die Vereinsmitglieder zum Ehrenvorsitzenden ernannt. 
          Bei unseren Nachforschungen ist es uns gelungen, eine Frage zu klären, die uns seit langem beschäftigte. Die Frage, wie unser Verein zu seinem Namen "Krügersruh" gekommen ist!</p><br/>
          
          <p>Aus einem Kaufvertrag unseres ehemaligen Vereinsmitgliedes Erwin Kubenz aus dem Jahr 1929 geht hervor, dass unser Kleingärtnerverein nach Frau Marie Sundmacher, geborene Krüger, benannt worden ist. Sie war Eigentümerin eines Teils des Geländes, auf dem unsere Kolonie entstand.</p><br/>
          
          <p>Aber auch der Name "Maiblumenweg" kommt nicht von ungefähr!</p><br/>
          
          <p>Er besagt, was die Bauern bis dahin auf den Feldern, die sie nun den Kleingärtnern überließen, angebaut hatten: Maiblumen, zum Verkauf auf den Wochenmärkten der Umgebung. Es sollen sogar, so erzählt man, Maiblumenblüten in größeren Mengen zur Herstellung von Parfüm nach Übersee exportiert worden sein. Nichts gegen Maiblumen, doch unsere Gartenfreunde von damals hatten sicher einige Mühe, die Pflanzen zu entfernen, um das Land nach ihren Vorstellungen nutzen zu können. 
          Und noch eine Rarität hat unsere Kolonie aufzuweisen: drei alte Holzlauben aus den 20er Jahren im Astern- und Maiblumenweg, die alle Stürme der Zeit überstanden haben und fast noch im Original erhalten sind.</p><br/>
          
          <p>In unserer Vereins-Chronik darf auch eine Tatsache nicht unerwähnt bleiben, die sicher von einiger Bedeutung ist und für sich spricht. Gemeint sind die Gärten unseres Vereins, die innerhalb der Familie von Generation zu Generation weitergegeben wurden. Zum Teil werden sie schon in zweiter und dritter Generation von den heutigen Pächtern bewirtschaftet. Diesen Gartenfreunden – es sind/waren unsere Mitglieder Traue, Kaus, Vogelsang, Read, Pauli, Bruns, Börnecke, Rose, Schlobohm, Säbel und Widdel - wurde sozusagen die Liebe zur Natur in die Wiege gelegt.</p><br/>
          
          <p>Ein Beweis dafür, wie sehr sich die Menschen der Natur und "ihrem Stückchen Grün" verbunden fühlen.</p><br/>
          
          <p>Im Jahre 1925, als die Nachfrage nach Kleingärten immer größer wurde, erwarb der Verein nördlich der ersten drei Wege ein Stück Wiese hinzu, auf dem die Gärten des Nelken-, Tulpen-, und Primelweges entstanden. Nur ein Jahr später, 1926, hat der Verein noch einmal Land erworben, und zwar für die Gärten des Veilchenweges und des vorderen Bereiches im Dahlienweg.</p><br/>
          
          <p>Die Wegenamen innerhalb der Kolonie wurden erst 1928 eingeführt. Bis zu diesem Zeitpunkt waren die Wege nummeriert. Ende der 20er Jahre, als die gröbsten Arbeiten getan, die neu hinzugekommenen Gärten gestaltet, die Lauben gebaut und die Koloniewege befestigt waren, entwickelte sich allmählich so etwas wie ein Vereinsleben. Ein Gefühl der Verbundenheit und der Zusammengehörigkeit entstand. Gemeinsam wurde manche Hürde genommen und manche Schwierigkeit gemeistert. Bald planten die Vereinsmitglieder den Bau eines Vereinshauses.</p><br/>
          
          <p>Zu Beginn der 30er Jahre konnte der Plan in die Tat umgesetzt werden. Das Haus war massiv gebaut und nicht viel größer als eine Gartenlaube. Es stand auf der Parzelle Maiblumenweg 60a!</p><br/>
          
          <p>Der Garten ringsum wurde durch Heckenbepflanzung in Nischen aufgeteilt, in denen im Sommer Tische und Stühle aufgestellt waren und zum Verweilen einluden.</p><br/>
          
          <p>Dieses erste Vereinshaus entwickelte sich schnell zu einem lebendigen Treffpunkt. Besonders an den Wochenenden herrschte rege Betriebsamkeit. Verkauft wurden u.a. Getränke, Kuchen, Eis und andere Süßigkeiten, Rollmöpse, Buletten und saure Gurken. Die Bewirtschaftung hatte das Ehepaar Hahne übernommen, das außerdem noch einen Pachtgarten am "Wendeplatz" im Maiblumenweg besaß. Damit die Gartenfreunde aus dem Asternweg schneller und ohne Umwege zum Vereinshaus gelangen konnten, wurde ein schmaler Verbindungsweg vom Astern- zum Maiblumenweg angelegt, der zwischen den Gärten Nr. 69 und 70 verlief. Dieser Weg bekam dann ganz schnell den Spitznamen "Schluckweg". Zur damaligen Tradition gehörte es, dass an den Wochenenden während der Sommermonate die grün-weiß-gelbe Fahne der Kleingärtner am Fahnenmast neben dem Vereinshaus wehte. Im zweiten Weltkrieg wurde dieses erste Vereinshaus durch Bombeneinwirkung zerstört und das Grundstück, der Not gehorchend, wieder als Kleingarten genutzt. Auch der "Schluckweg" wurde gärtnerischen Zwecken zugeführt.</p><br/>
          
          <p>Bis etwa 1929 haben keine größeren Vereinsfeste stattgefunden, was durchaus verständlich ist, wenn man bedenkt, wie beschwerlich das Leben in den 20er Jahre war. Erst im Spätherbst 1930 oder 1931, so wird erinnert, soll das erste Vereinsfest in größerem Rahmen gefeiert worden sein. Im großen Saal der Gaststätte Schmedes an der Bohnhorststrasse. In den darauf folgenden Jahren haben die Vereinsmitglieder am Veilchenweg einen Festplatz eingerichtet. Hier fanden die Sommerfeste statt, zunächst ohne Zelt und auch nur an einem Tag. Es gab eine Musikkapelle, die zum Tanz aufspielte, Spiele für die Kinder, einen Festumzug am Nachmittag und einen Lampionumzug am Abend.</p><br/> 

          <p>Zwischendurch spielte die Musikkapelle zur Unterhaltung aller, auf einem eigens dafür errichteten Podium hoch über dem Maiblumenweg. Es war ungefähr am oberen Ende des sogenannten "Wendeplatzes" belegen. Nach und nach wurden die Laubenfeste zu einer festen Einrichtung und zum geselligen Mittelpunkt des Vereinslebens. Etwa ab 1934 haben die Kleingärtner das Laubenfest an zwei Tagen und in einem Festzelt gefeiert. Angefahren wurde das Zelt mit einem Pferdefuhrwerk durch den Bierverleger Pape, der zusammen mit seiner Frau auch das Festzelt bewirtschaftete. Den Zeltauf- und abbau übernahmen Gartenfreunde in freiwilliger Arbeit. Im Sommer 1939 kurz vor Ausbruch des 2. Weltkrieges, feierte der Verein Krügersruh ein Laubenfest gemeinsam mit den Gartenfreunden aus der Hainhölzer Kolonie. Das Zelt, so wird berichtet, soll auf einer Wiese zwischen den Kolonien "Hainholz" und "Krügersruh" gestanden haben. Keiner ahnte zu diesem Zeitpunkt, dass es das letzte Laubenfest für viele Jahre sein sollte. Der Krieg mit seinen verheerenden Auswirkungen setzte allen geselligen Aktivitäten dieser Art ein jähes Ende. Auch der Festplatz wurde wieder zu Gartenland.</p><br/>
          
          <p>In den Jahren 1937/38 wuchs das Vereinsgelände um den nördlichen Teil des Dahlienweges. Die "Alteingesessenen" nannten diesen Bereich "Neuland". Damit hatte unsere Kolonie in etwas ihre jetzige Größe erreicht:
          130 Pachtgärten mit einer Gesamtfläche von ca. 8 Hektar auf mittlerweile im Eigentum der Stadt Hannover belegenem Grund und Boden.</p><br/>
          
          <h3 class="cursive">Zweiter Weltkrieg</h3>
          
          <p>In den Jahren des Krieges - von 1939 bis 1945 - und danach wurden die Gartenlauben mehr und mehr zur Zufluchtsstätte der Menschen, die durch Bombeneinwirkungen ihre Wohnungen verloren hatten. Die Gärten selbst dienten als "Nahrungsmittellieferant", womit die immer knapper werdenden Lebensmittelrationen aufgebessert werden konnten. Nach jedem Luftangriff galt die Sorge auch den Gärten. Es wurden Zäune repariert, Bombentrichter zugeschaufelt, herrenlos umherirrende Hühner und Kaninchen wieder eingefangen, Gartenlauben ausgebessert, soweit sie überhaupt noch vorhanden und nicht verbrannt oder durch Sprengbomben zerstört worden waren. Auf jedem freien Platz im Garten wuchs Essbares! Blumen waren nicht gefragt. Obst, Kartoffeln, Bohnen, Kohl und Steckrüben waren die "Renner" jener Jahre. Dann endlich, im Frühjahr 1945, konnten alle aufatmen. Es war wieder Frieden! Nun krempelten die Kleingärtner die Ärmel hoch und begannen das große Aufräumen. Die Gewissheit, dass erhalten bleibt, was mit harter Arbeit in Ordnung gebracht wurde, war ein ganz neues Lebensgefühl. In den Jahren des sogenannten "Dritten Reiches" von 1933 bis 1945, in denen alles angeordnet, gelenkt, geleitet und befohlen wurde, waren auch die Kolonien "Hainholz" und "Krügersruh" unter gemeinsame Verwaltung gestellt worden und führten die Bezeichung: Kleingärtnerverein "Hainholz - Krügersruh" Stadtgruppe 111 e. V. Hannover Nord, im Reichsbund Deutscher Kleingärtner e.V., Berlin.</p><br/>
          
          <p>1945 erhielten die Vereine im Rahmen einer Neuordnung ihre Selbständigkeit zurück. Somit konnte der Kleingärtnerverein Krügersruh seine Interessen wieder selbst vertreten. Diese Aufgabe hatten die Mitglieder für eine Übergangszeit von ca. zwei Jahren den Gartenfreunden v. d. Marel und Willy Börnecke (Senior) übertragen. Selbst in den kommenden Jahren, bis zur Währungsreform im Jahr 1948, waren die Gartenfreunde froh, die immer noch rationierten Lebensmittel durch Obst und Gemüse aus dem eigenen Garten ergänzen zu können. In diese Zeit kamen auch gerne - überwiegend nachts - ungebetene Gäste in die Gärten, die zwar nicht pflanzen, aber doch ernten wollten. Die Kleingärtner schützten sich vor den Diebstählen, in dem sie Nachtwachen einführten. Ausgangspunkt für die nächtlichen Kontrollgänge, zu denen sich jeweils im Wechsel einige Mitglieder einfanden, war ein Garten im Primelweg.</p><br/>
          
          <h3 class="cursive">Nachkriegszeit</h3>
          
          <p>Die ersten Mitgliederversammlungen und ersten kleineren Vereinsfeste fanden in der Gaststätte "Stelter" (Auf dem Loh) statt. Der erste nach dem Krieg im Jahr 1948 von der Versammlung gewählte Vorsitzende war Gartenfreund Julius Hundertmark. Eine neue Vereinssatzung wurde verabschiedet und der Kleingärtnerverein "Krügersruh" ab 1949 wieder im amtlichen Vereinsregister geführt. Schon bald danach konnte der Wunsch der Vereinsmitglieder nach einem neuen Vereinshaus in die Tat umgesetzt werden. Zunächst entstand 1951 am Nelkenweg der Festplatz. Dann begann 1952 der Bau des Vereinshauses. Um die Baukosten so gering wie möglich zu halten, verwendet man Bauteile aus dem Abbruch alter Lagerhallen. Steine durften mit behördlicher Genehmigung von Trümmergrundstücken in der Innenstadt entnommen werden. Den Transport der Fertigteile übernahm wiederum der langjährige Festwirt und Bierverleger Karl Pape. Die Baufinanzierung erfolgte über Spenden von Mitgliedern und durch Kredite, die Mitglieder zur Verfügung stellten. Die Kreditgeber bekamen dafür sogenannte "Bausteine": Gutschriften also, die später vom Verein wieder eingelöst wurden. Die vollständige Rückzahlung dieser Kredite war bis zum Jahr 1962 abgeschlossen.</p><br/>
          
          <p>Nach Fertigstellung des Vereinshauses, sogar mit angrenzendem Festplatz, konnten auch die Laubenfeste wieder innerhalb der Kolonie gefeiert werden. Sie entwickelten sich im Laufe der Jahre zu der Form, die wir heute noch kennen. An Ideen für die Ausgestaltung hatte es keinen Mangel. So gab es u. a. Auszeichnungen für geschmückte Gärten und originelle Einfälle der Festumzugteilnehmer. Es wurden Wettbewerbe für Kinder veranstaltet und es gab Lampionumzüge. Beim abendlichen Tanz im Zelt verkaufte man "Tanzbänder", um den Etat des Festausschusses ein wenig aufzubessern. Bald kamen der Kommers mit Unterhaltungsprogramm hinzu, ferner Tombola, Katerfrühstück, Gulaschkanone und Kaffeetafel. Die ehrenamtlichen Helfer des Festausschusses haben weder Mühe noch Einsatz gescheut, um die Vereinsfeste abwechslungsreich und für alle unterhaltsam zu gestalten. In diesen Jahren gab es einen Gartenfreund, der sich unermüdlich für die Gestaltung der Vereinsfeste einsetzte! Es war Gartenfreund und Ehrenmitglied Fritz Knoke († 1998). </p><br/>
          
          <p>1952 erhielt unser Verein auch wieder eine Vereinsfahne, gestiftet von den Frauen des Vereins. Sie führten eine Geldsammlung durch und stellten den Betrag für den Kauf der Fahne zur Verfügung. 1984 nach "32 Dienstjahren" ist sie in den Ruhestand versetzt worden und hat jetzt einen Ehrenplatz im Vereinshaus. Sie wurde abgelöst von einer neuen Fahne. Diese konnte durch eine Umlage im Jahr 1983, an der sich alle Mitglieder beteiligten, finanziert werden. Die Patenschaft für die neue Fahne übernahm unser Nachbarverein "Abendfrieden". Ende der 50er Jahre stellte sich heraus, dass Festplatz und Vereinshaus zu klein geworden waren. Es erfolgte die Erweiterung des Festplatzes. Auf Initiative des damaligen 1. Vorsitzenden Karl Bremer beschloss  die Jahreshauptversammlung 1962, das Vereinshaus auf etwa 140 qm zu erweitern. Für die Planung und Beschaffung der Bauunterlagen stellte sich Gartenfreund Heinz Säbel zur Verfügung. Die Finanzierung des Projektes sollte aus Rücklagen der laufenden Mitgliedsbeiträge und durch Zuschüsse der Stadt Hannover erfolgen. Gleichzeitig wurden sämtliche Mitglieder verpflichtet, jeweils 20 Arbeitsstunden zu leisten oder die Arbeitsleistung durch einen Geldbetrag von DM 60,00 abzulösen. 1964 konnte eine erste Rücklage von DM 1.000,00 ausgewiesen werden, die sich bis 1970 auf DM 9.000,00 erhöhte.</p><br/>
          
          <h3 class="cursive">1970</h3>

          <p>Nach anfänglichen Schwierigkeiten und mehrmaliger Änderung der Bauzeichnungen wurde im Spätherbst 1970 die Baugenehmigung erteilt und es konnte mit den Arbeiten begonnen werden. Die Bauleitung übernahmen die Gartenfreunde Handrup (†), Domeyer (†) und Kreft (†). Durch günstige Witterungsverhältnisse und den lobenswerten Einsatz der Gartenfreunde war der Rohbau im Dezember 1970 fertiggestellt. Eine große Hilfe war der Einsatz des Gartenfreundes William Read (Ehrenmitglied, †), der mit einem von ihm gestellten Bagger die Erdarbeiten an einem Wochenende erledigen konnte. </p><br/>
          
          <p>Im Februar 1971 begannen die Innenarbeiten: Bau der Toilettenanlage, Elt- und Wasserinstallation, Maler- und Tapezierarbeiten. Am 12. Juni 1971, anlässlich der Halbjahresversammlung, ist das fertige Vereinsheim im Beisein der seinerzeit noch lebenden Ehrenmitglieder und Mitbegründer des Vereins Beuermann und Burckhardt feierlich seiner Bestimmung übergeben worden. Das Vereinhaus betreuten danach viele Jahre das Ehepaar Knoke gefolgt vom Ehepaar Förster, Franz Bathelt / Peter Mell und Hans Kubocz. Derzeit befindet sich das Haus in der Obhut von Gartenfreund Wilfried Oppermann.</p><br/>
          
          <p>Im Jahr 1979 wählte die Jahreshauptversammlung Günter Domeyer zum 1. Vorsitzenden. Er lenkte die Geschicke des Vereins bis 1988. Eine anerkennenswerte Leistung in unserer bisherigen Vereinsgeschichte haben die Gartenfreunde Karl Bremer, Fritz Knoke und Helmut Dölle vollbracht. Jeder von ihnen war mehr als 20 Jahre als Vorstandsmitglied zum Wohle des Vereins tätig. Eine solche Einsatzfreudigkeit sollte Ansporn für jüngere Vereinsmitglieder sein, sich ebenfalls zum Wohle des Vereins und seiner Mitglieder zu engagieren. In den folgenden Jahren hat der Vorstand unseren Verein der modernen Realität des Lebens angepasst.</p><br/>
          
          <p>1986 erhielt unser gesamtes Vereinsgelände unter der Leitung des damaligen 1. Vorsitzenden Günter Domeyer eine Eltversorgungsanlage. Für den Betrieb der Stromanlage haben die Vereinsmitglieder eine in der Form der Gesellschaft bürgerlichen Rechts geführten Stromgesellschaft gegründet. Die ersten von der Gesellschafterversammlung gewählten Geschäftsführer dieser Gesellschaft waren die Gartenfreunde Henry Jenß (†) und Wilfried Wichmann (†). Im Jahr 1992 haben die Gartenfreunde Peter Mell und Günter Rose die Aufgaben der Geschäftsführung übernommen.</p><br/>
          
          <p>Im Jahr 1986 feierte unser Verein auch sein 75-jähriges Jubiläum.</p><br/>
          
          <p>Ab 1988 lenkte Kurt-Werner Blickwede als 1. Vorsitzender die Vereinsgeschicke. In seiner Amtszeit wurden die Gärten neu vermessen, das Vereinshaus renoviert, Fenster- und Fußboden erneuert und eine Heizungsanlage eingebaut. Auch erhielt der Innenhof vor dem Vereinshaus eine Verbundsteinpflasterung. Dank des ehrenamtlichen tatkräftigen Einsatzes der Mitglieder konnte dies weitestgehend in Eigenarbeit bewerkstelligt werden.</p><br/>
          
          <p>Im Jahr 1995 wählte die Mitgliederversammlung Karl-Heinz Melching zum 1. Vorsitzenden unseres Vereins.</p><br/>
          
          <p>Seit Mitte der 90er-Jahre besteht auch ein öffentliches Interesse an unserem Verein. Es wurde in den Medien - Zeitungen, Fernsehen und Rundfunk - über unseren Verein zu verschiedenen Themen berichtet. Des Weiteren präsentierten die Frauengruppe und Fahnenträger unseren Verein im Rahmen des "Hannoverschen Schützenausmarsches".</p><br/>
          
          <h3 class="cursive">2000</h3>
          
          <p>Im Expo-Jahr 2000 konnten wir 29 Expo-Gäste aus den USA im Vereinshaus begrüßen und ihnen unsere Gärten präsentieren.</p><br/>
          
          <p>Seit 2001 setzen sich die Gartenfreunde Peter Mell und Wilfried Oppermann mit großem Erfolg für den Werterhalt und die Wertsteigerung des Vereinshauses ein. Unter ihrer Regie hat das Vereinshaus eine Generalüberholung innen und außen erfahren.</p><br/>
          
          <p>Nach langer schwerer Krankheit verstarb unser Ehrenmitglied Gisela Widdel im März 2004. Sie hat über Jahrzehnte mit ihrem Einsatz – nicht nur als 1. Kassiererin - die Vorstandsarbeit geprägt.</p><br/>
          
          <p>Als Kleingartenverein sind wir mit der Zeit gegangen und haben uns erstmals 2007 mit einer eigenen Seite im Internet präsentiert. An unserem Internetauftritt besteht reges Interesse, informiert er doch regelmäßig über freie Gärten sowie aktuelle Themen und Ereignisse.</p><br/>
          
          <p>Das Jahr 2008 war wieder einmal durch Bauarbeiten geprägt. Das alte Schuppengebäude war marode und baufällig geworden. Mit tatkräftiger Unterstützung einiger Gartenfreunde konnten wir auf unserer Vereinshauswiese ein neues Abstellgebäude errichten.</p><br/>
          
          <p>2010 war dann ein schwarzes Jahr für unseren Verein. Durch die von der Stadt Hannover angestrebte Sportplatzerweiterung für den VfV 87 Hainholz mussten wir uns von 11 Gärten ganz oder teilweise trennen. Leider konnten wir nicht alle aufgebenden Gartenfreunde für eine neue Parzelle begeistern, so dass unsere Mitgliederzahl erstmalig dauerhaft abnahm. Obwohl langjährige Gartenfreunde Abschied vom Kleingarten nahmen, ist es uns immer wieder gelungen für frei werdende Gärten neue Pächter zu gewinnen. Besonders freut uns, dass wir vermehrt junge Gartenfreunde als Vereinsmitglieder begrüßen können. Damit ist unser gegenwärtiger Altersdurchschnitt, im Gegensatz zum Bundestrend, gesunken. Nach 25 jähriger Tätigkeit als 1. Schriftführerin hat Gartenfreundin Isolde Mell im März 2010 ihr Amt an Gartenfreundin Silvia Haberland abgegeben. An dieser Stelle möchten wir uns noch einmal herzlich bei ihr für die geleistete Arbeit bedanken.</p><br/>
          
          <p> Um unseren Internetauftritt immer aktuell zu halten, werden seit Januar 2011 alle Artikel des Vereins „Krügersruh“, die in der Verbandszeitschrift „Garten und Familie in Hannover“ erscheinen auch im Internet veröffentlicht.</p><br/>

          <p> Mit der Ausrichtung unserer 100-Jahrfeier verabschiedet sich der bisher amtierende Festausschuss, geleitet von Susanna Danz und Silvia Haberland, nach etlichen erfolgreichen Jahren, in den wohlverdienten „Ruhestand“. Wir danken für die vielen schönen Feste und hoffen auf genauso aktive und kreative Nachfolgerinnen und Nachfolger.
          </p><br/>
          
          <p>Wenn wir jetzt im Jahr 2011 unseren 100-jährigen Geburtstag feiern, blicken wir optimistisch in die Zukunft und hoffen, bei unserem nächsten Jubiläum rückblickend sagen zu können:</p><br/>
          
          <p>Es waren gute und erfolgreiche Jahre!</p><br/>
          
          <h2 class="cursive">Vorstand im Jahr 2011</h2>
          </div>
      </div>
  </section>
</DefaultLayout>



