---
import { Media } from 'accessible-astro-components'
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

/**
 * ContentMedia Component
 *
 * @description A component that displays content alongside media, with the option to reverse the image position
 */
interface Props {
  /**
   * The source URL for the image
   */
  src: string
  /**
   * Whether to display the image on the right side instead of the left
   * @default false
   */
  reverse?: boolean
}

const { src, reverse = false }: Props = Astro.props
---

<section class="my-15">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      {!reverse ? <Media class="rounded-lg" src={src} /> : ''}
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {reverse ? <Media class="rounded-lg" src={src} /> : ''}
    </div>
  </div>
</section>
