---
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-20">
    <h2 class="sr-only">Footer</h2>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Dateien</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/files/Satzung (2019).pdf">Satzung des Kleingärtnevereins Krügersruh e. V.</a></li>
          <li><a href="/files/Lageplan.png">Lageplan des Kleingärtnevereins Krügersruh e. V.</a></li>
          <li><a href="/files/Stromgesellschaftervertrag (2020).pdf">Gesellschaftervertrag der Stromgesellschaft des Kleingärtnervereins Krügersruh e. V.</a></li>
          <li><a href="/files/Pflichtversicherungsvertrag (2020).pdf">Rahmenvertrag für die Pflichtversicherung der Pächter des Bezirksverbands Hannover der Kleingärtner e. V.</a></li>
          <li><a href="/files/Bauantrag.pdf">Bauantrag des Bezirksverbands Hannover der Kleingärtner e. V.</a></li>
        </ul>
      </div>

      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Links</h3>
        <ul class="flex flex-col gap-2">
          <li></li>
          <li>
            <ExternalLink href="https://www.gesetze-im-internet.de/bkleingg/BJNR002100983.html">Bundeskleingartengesetz
            </ExternalLink>
          </li>
          <li>
            <ExternalLink href="https://www.hannover.de/Media/01-DATA-Neu/Downloads/Landeshauptstadt-Hannover/Kultur-Freizeit/Naherholung/G%C3%A4rten/Gartenordnung-der-Stadt-Hannover">Gartenordnung der Stadt Hannover</ExternalLink>
          </li>
          <li>
            <ExternalLink href="https://www.hannover.de/Media/01-DATA-Neu/Downloads/Landeshauptstadt-Hannover/Kultur-Freizeit/Naherholung/G%C3%A4rten/Richtlinie-f%C3%BCr-die-Errichtung-von-Baulichkeiten-in-Kleingartenanlagen-der-Landeshauptstadt-Hannover"
              >Richtlinie für die Errichtung von Baulichkeiten in Kleingartenanlagen der Stadt Hannover</ExternalLink
            >
          </li>
          <li>
            <ExternalLink href="https://serviceportal.hannover-stadt.de/buergerservice/dienstleistungen/baumschutz-und-baumschutzsatzung-900000183-0.html">Baumschutzsatzung der Stadt Hannover
            </ExternalLink>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-5 md:flex-row md:justify-end">
      <p>
        &copy; {currentYear} Kleingärtnerverein Krügersruh e. V.
      </p>
      <p>
        <a href="/impressum">Impressum</a>
      </p>
      <p>
        <a href="/datenschutz">Datenschutz</a>
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
