---
import { Image } from 'astro:assets';

export async function getImages() {
    let images = import.meta.glob<{ default: ImageMetadata }>(`@graphics/logos/*.png`);
  
    const resolvedImages = await Promise.all(
      Object.values(images).map((image) => image().then((mod) => mod.default))
    );

    return resolvedImages;
  }

const logos = await getImages();
---

  <section class="py-8 px-8 lg:py-20">
    <div class="container mx-auto text-center">
      <h3>Vielen Dank an unsere Sponsoren!</h3><br/>
      <div class="flex flex-wrap items-center justify-center gap-8">
        {
          logos.map((logo) => (
            <Image src={logo} alt="" class="w-30"/> 
          ))
        }
      </div>
    </div>
  </section>